@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Montserrat:wght@300;400;500;700&display=swap');

/* GLOBAL */

html {
    font-family: 'Inter', 'Montserrat', sans-serif;
}

.btn {
    border: none;
    cursor: pointer;
}

/* OVERLAY */

#overlay {
    transition: all 1.5s;
}

#overlay.active {
    filter: blur(10px);
}

/* HEADER */

header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 80px;
    width: 400px;
}

#title {
    color: rgba(60, 60, 60, 1);
    font-size: 3rem;
    font-weight: 700;
}

#reset-btn {
    background-color: rgba(90, 90, 90, 1);
    border-radius: 3px;
    color: rgba(240, 240, 240, 1);
    font-size: 1.25rem;
    padding: 3px 10px;
}

/* MAIN CONTENT */

#gameboard {
    background-color: rgba(90, 90, 90, 1);
    border-radius: 7px;
    display: grid;
    gap: 13px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 13px;
    position: relative;
    width: 400px;
}

/* 120.333333333333 */

.board-cell {
    background-color: rgba(245, 245, 245, 1);
    border-radius: 3px;
    color: rgba(60, 60, 60, 1);
    cursor: pointer;
    display: flex;
    font-size: 3.5rem;
    font-weight: 700;
}

.selection {
    margin: auto;
}

/* STRIKETHROUGHS */

.strikethrough,
.diagonal-strikethrough {
    background-color: rgba(60, 60, 60, 1);
    border-radius: 10px;
    height: 10px;
    position: absolute;
    transition: width 0.35s ease-in-out;
    width: 0px;
}

.strikethrough.active {
    width: 350px;
}

.diagonal-strikethrough.active {
    width: 466px;
}

/* ROWS */

#strikethrough-top-row {
    left: 38px;
    top: 70px;
}

#strikethrough-middle-row {
    left: 38px;
    top: 208px;
}

#strikethrough-bottom-row {
    bottom: 70px;
    left: 38px;
}

/* COLUMNS */

#strikethrough-left-col {
    left: -100px;
    top: 208px;
    transform: rotate(90deg);
}

#strikethrough-middle-col {
    left: 38px;
    top: 208px;
    transform: rotate(90deg);
}

#strikethrough-right-col {
    right: -100px;
    top: 208px;
    transform: rotate(90deg);
}

/* DIAGONALS */

#strikethrough-forward-slash {
    bottom: 42px;
    left: 45px;
    transform: rotate(-45deg);
    transform-origin: 0px 0px;
}

#strikethrough-back-slash {
    left: 52px;
    top: 45px;
    transform: rotate(45deg);
    transform-origin: 0px 0px;
}