@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Montserrat:wght@300;400;500;700&display=swap');

@layer base {
    html {
        @apply font-sans;
    }

    header {
        @apply flex items-start justify-between;
        margin: 0 auto;
        margin-top: 80px;
        width: 400px;
    }
}

@layer components {
    .btn {
        @apply bg-secondary	border-none rounded text-primary cursor-pointer select-none;
    }

    .board-cell {
        @apply flex bg-primary rounded text-tertiary cursor-pointer text-[3.5rem] font-bold;
    }

    .strikethrough {
        @apply bg-tertiary rounded-lg h-2.5 absolute w-0;
        transition: width 0.35s ease-in-out 0.75s;
    }
}

/* DYNAMIC CSS CLASSES */

#overlay.active {
    pointer-events: none;
    animation: overlay-blur 1.2s 2s ease-out forwards;
}

.selection {
    animation: select-fade-in 0.2s ease-in forwards;
    margin: auto;
}

.strikethrough.active {
    animation: extend-strikethrough 0.35s 0.75s ease-in-out forwards;
    /* full length 350px */
}

.diagonal.active {
    animation: extend-diagonal-strikethrough 0.35s 0.75s ease-in-out forwards;
    /* full length 466px */
}

.win-msg.active,
#play-again-btn.active {
    display: block;
    opacity: 0;
}

/* WIN MODAL */

.win-msg {
    animation: text-expand 1.2s 2s forwards;
}

#play-again-btn {
    animation: btn-fade-in 1.2s 2s forwards;
}

/* ANIMATIONS */

@keyframes select-fade-in {
    0% {
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes extend-strikethrough {
    100% {
        width: 350px;
    }
}

@keyframes extend-diagonal-strikethrough {
    100% {
        width: 466px;
    }
}

@keyframes overlay-blur {
    100% {
        filter: blur(5px);
    }
}

@keyframes text-expand {
    0% {
        letter-spacing: -0.5rem;
    }
    30% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes btn-fade-in {
    0% {
        letter-spacing: -0.5rem;
    }
    30% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
